@model Issue_Tracking_App.Models.GetAssignedViewModels

<h2 style="margin-top: 60px;text-align:center">ASSIGN TO A DEVELOPER</h2>
<form asp-action="Assign" asp-controller="Tracking">
<div class="mt-3">

    <label class="form-label">Developer</label>
    <select class="form-control" asp-for="DeveloperName">
            <option value="" disabled selected>Select Name</option>
            <option value="hCham">Hawa Cham</option>
            <option value="anndure">Anna Ndure</option>
            <option value="gthomas">Gilleh Thomas</option>
            <option value="najaiteh">Ndey Astou Jaiteh</option>
            <span asp-validation-for="DeveloperName" class="text-danger"></span>
    </select>

</div>

<div class="mt-3">

    <label class="form-label">Severity</label>
    <select class="form-control" asp-for="SeverityID">
        <option value="" disabled selected>Select Severity</option>
        @foreach (var item in Model.Severity)
        {

            <option value="@item.Id">@item.SeverityName</option>

        }
        <span asp-validation-for="SeverityID"></span>
    </select>

</div>
 
<div class="mt-3">
    <label class="form-label">Add Comment</label>
    <input class="form-control" type="text" asp-for="Comment">

   <span asp-validation-for="Comment" class="text-danger"></span>
</div>

<div class="mt-3">
    <button class="btn btn-primary" type="submit">Send</button>
</div>

</form>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}